server:
  port: 8080

spring:
  data:
    neo4j:
      uri: ${NEO4J_URI:bolt://localhost:7687}
      username: ${NEO4J_USER:neo4j}
      password: ${NEO4J_PASS:neo4jpass}

logging:
  level:
    org.mythogyan: INFO
